#title {
    text-align: center;
}

.button-selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-gap: 0;
    margin: 20px auto;
    max-width: 960px;
    width: 100%;
}

.grid-item {
    background-color: #ccc;
    border: 1px solid #999;
    padding: 0;
    transition: background-color 0.3s;
}

.grid-item::before {
    content: "";
    display: block;
    padding-top: 100%;
}